.body {
    font-family: Arial, sans-serif;

}



.logo {
    color: #fff;
    font-size: 23px;
    line-height: 60px;
    float: left;
    color: coral;
}


.menu li {
    float: left;
    line-height: 60px;
    color: white;
    margin-right: 40px;
    font-size: 14px;
    text-transform: uppercase;
    color: coral;



}






.honey {
    width: 100%;
    height: 550px;
   
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff7000+0,ff7000+39,f79800+61,fcb400+100 */
    background: #ff7000;
    /* Old browsers */
    background: -moz-linear-gradient(left, #ff7000 0%, #ff7000 39%, #f79800 61%, #fcb400 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ff7000 0%, #ff7000 39%, #f79800 61%, #fcb400 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ff7000 0%, #ff7000 39%, #f79800 61%, #fcb400 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7000', endColorstr='#fcb400', GradientType=1);
    /* IE6-9 */

}


.Bas {
    color: white;
    font-size: 55px;
    margin-top: 50px;
}

.product {
    color: white;
     margin-top: 50px;

}

.honey input {
    height: 40px;
    text-align: center;
    border: 2px solid #ffffff;
    background-color: white;
    border-radius: 15px;
    color: #ff8100;
    font-size: 12px;
    padding: 0px 40px;
    margin-top: 58px;
    margin: 58px 14px 0px 14px;
}


.honeycombs{
        margin-top: 50px;
}
.Nas{
    text-align: center;
    color: #ff7000;
    font-size: 55px;
}

.texthoney{
    border: 2px solid #e1dddc;
    background-color: #e1dddc;
    border-radius: 20px;
     
}
.imghoney{
   
}
. ihoney{
    
}

@media(max-width: 768px) {
    .imghoney{
        display: flex;
        width: 370px;
        height: 436px;
        
    }
}

.Benefits{
    background:#ff7000; 
  width: 100%;
    height: 550px;
    margin-top: 100px;
}

.ben{

      text-align: center;
    color: white;
    font-size: 55px;
    margin-bottom: 150px;
}
.benf:first-child{
    
    color: azure;
    text-align: center;
}
@media(max-width: 993px){
    .Benefits{
        height: 750px;
    }
}
@media(max-width: 481px){
    .Benefits{
        height: 1200px;
    }
}
















