.body {
    font-family: Arial, sans-serif;

}
.kol{
    margin-top: 300px;
}

.menu3{
    width: 100%;
    height:65px;
background: #ffff00;

   position: fixed;
    z-index: 100;
}

.logo {
font-family: 'Shadows Into Light', cursive;
    line-height: 60px;
    float: left;
   
	font-size: 22px;
	color: #f6ff00;
	text-shadow: 
		-0   -1px 0   #000000,
		 0   -1px 0   #000000,
		-0    1px 0   #000000,
		 0    1px 0   #000000,
		-1px -0   0   #000000,
		 1px -0   0   #000000,
		-1px  0   0   #000000,
		 1px  0   0   #000000,
		-1px -1px 0   #000000,
		 1px -1px 0   #000000,
		-1px  1px 0   #000000,
		 1px  1px 0   #000000,
		-1px -1px 0   #000000,
		 1px -1px 0   #000000,
		-1px  1px 0   #000000,
		 1px  1px 0   #000000;
    
}





span{
    color:red;
}
@media(max-width:412px){
    
    .logo{
        font-size: 18px;
    }
}
.menu li{
       -webkit-animation:topshift 0.4s ease forwards;
    -o-animation:topshift 0.4s ease forwards;
    animation: topshift 0.4s ease forwards;
    opacity: 0;
}

.menu li a{
    float: left;
 
    color: white;
    margin-right: 40px;
    font-size: 17px;
    text-transform: uppercase;
    color: coral;
text-decoration: none;
    
    
    transition: all 0.1s;
    transform: scale(1);
    display: inline-block;
    
  
   
}



@keyframes topshift {
    from{
        opacity: 0;
        margin-top: -80px; 
    }


to {
   opacity: 1; 
    margin-top: 0px;
}   
}
.menu li:nth-child(2){
    animation-delay: 0.4s;
}
.menu li:nth-child(3){
    animation-delay: 0.8s;
}
.menu li:nth-child(4){
    animation-delay: 1.2s;
}




.menu li a:hover{
    color:#8c847e;
 
}

.menu li a:active{
       transform: scale(1.1);
}

.honey{
background:#ff7000;
    width: 100%;
    height: 550px;

    
}
.honeycombs{
    margin-top: 100px;
}
.Bas{
        color: white;
}

.product{
        color: white;
}




.honeu{

    margin-top: 100px;
}
.Bas{
    font-size:65px;
}
@media(max-width:780px){
    .Bas{
        font-size: 45px;
    }
}
@media(max-width:525px){
    .Bas{
        font-size: 21px;
    }
    .product{
        font-size: 17px;
    }
    .log{
        width: 160px;
    }
}
.log {
    display:none;
}

 @media (min-width:320px) and (max-width:570px) {
   .log{
         display:block;
    }
    
}






.href{
     border: 2px solid #ffffff;
    padding-left: 30px;
    padding-right: 30px;
    background-color: white;
    border-radius: 15px;
    color: coral;
}







.Nas{
    text-align: center;
    color: #ff7000;
    font-size: 55px;
}

.texthoney{
    border: 2px solid #e1dddc;
    background-color: #e1dddc;
    border-radius: 20px;
    text-align: center;
     
}

@media(max-width: 770px){


    .pollen{
    width: 300px;  
    }
    .noneyprod{
    width: 300px;  
    }
    .propolis{
          width: 300px; 
    }
   
}
.imghoney{
    text-align: center;
    display: flex;
    
      width: 330px;
        height: 396px;
}


@media(max-width: 768px) {
    .imghoney{
        display: flex;
        width: 330px;
        height: 396px;
        
    }
}
@media(max-width: 600px){
      .imghoney{
     display: flex;
        width: 240px;
        height: 306px;
    }
}

.Benefits{
    background:#ff7000; 
  width: 100%;
    height: 550px;
    margin-top: 100px;
}

.ben {

      text-align: center;
    color: white;
    font-size: 55px;
    margin-bottom: 150px;
}

@media(max-width: 450px){
 .ben {
        font-size:40px;
    }
    
    
    
    
}
.benf:first-child{
    
    color: azure;
    text-align: center;
}
@media(max-width: 993px){
    .Benefits{
        height: 750px;
    }
}
@media(max-width: 481px){
    .Benefits{
        height: 1200px;
    }
}
.noneyprod{
    margin-top: 150px;
    border:2px solid #dad3d1;
    text-align: center;
    background: #dad3d1;
    border-radius: 40px;
    justify-content: center
}
.noneyprod h1{
    display: flex;
    justify-content: flex-start;
}
.noneyprod h3{
    font-size: 15px;
  text-align: left;
    display: flex;
        justify-content: flex-start;
}
.noneyprod h4{
    color: #ff7000;
    text-align:left;
    font-size: 45px;
    margin-top: 90px;
}
.noneyprod h5{
  float: right;
    margin-top: 105px;
    
    
}


.pollen{
      margin-top: 150px;
    border:2px solid #dad3d1;
    border-width: 4px;    

    text-align: center; 
       background: #dad3d1;
       border-radius: 40px;
}
.pollen h1{
    display: flex;
    justify-content: flex-start;
}
.pollen h3{
    font-size: 15px;
  text-align: left;
    display: flex;
        justify-content: flex-start;
}
.pollen h4{
    color: #ff7000;
    text-align:left;
    font-size: 45px;
    margin-top: 60px;
}
.pollen h5{
  float: right;
    margin-top: 75px;
    
    
}
.propolis{
        margin-top: 150px;
    border:2px solid #dad3d1;
    text-align: center; 
       background: #dad3d1;
       border-radius: 40px;
}
.propolis h1{
    display: flex;
    justify-content: flex-start;
}
.propolis h3{
    font-size: 15px;
  text-align: left;
    display: flex;
        justify-content: flex-start;
}
.propolis h4{
    color: #ff7000;
    text-align:left;
    font-size: 45px;
    margin-top: 60px;
}
.propolis h5{
  float: right;
    margin-top: 75px;
    
    
}
.Prod{
    margin-top: 100px;
    text-align: center;
    color: #ff7000;
    font-size: 65px;
}


@media(max-width:450px){
    .Prod{
        font-size:40px;
    }
}



.wax{
    margin-top: 150px;
    border:2px solid #dad3d1;
    text-align: center;
    background: #dad3d1;
    border-radius: 40px;
    justify-content: center
}
.wax h1{
    display: flex;
    justify-content: flex-start;
}
.wax h3{
    font-size: 15px;
  text-align: left;
    display: flex;
        justify-content: flex-start;
}
.wax h4{
    color: #ff7000;
    text-align:left;
    font-size: 45px;
    margin-top: 140px;
}
.wax h5{
  float: right;
    margin-top: 155px;
    
    
}


.bees{
      margin-top: 150px;
    border:2px solid #dad3d1;
    border-width: 4px;    

    text-align: center; 
       background: #dad3d1;
       border-radius: 40px;
}
.bees h1{
    display: flex;
    justify-content: flex-start;
}
.bees h3{
    font-size: 15px;
  text-align: left;
    display: flex;
        justify-content: flex-start;
}
.bees h4{
    color: #ff7000;
    text-align:left;
    font-size: 45px;
    margin-top: 100px;
}
.bees h5{
  float: right;
    margin-top: 115px;
    
    
}
.matka{
        margin-top: 150px;
    border:2px solid #dad3d1;
    text-align: center; 
       background: #dad3d1;
       border-radius: 40px;
}
.matka h1{
    display: flex;
    justify-content: flex-start;
}
.matka h3{
    font-size: 15px;
  text-align: left;
    display: flex;
        justify-content: flex-start;
}
.matka h4{
    color: #ff7000;
    text-align:left;
    font-size: 45px;
    margin-top: 100px;
}
.matka h5{
  float: right;
    margin-top: 115px;
    
    
}

@media(max-width: 450px){
  
    .wax{
        width: 300px;
    }
    .bees{
    width: 300px;  
    }
    .matka{
    width: 300px;  
    }
    .conezhoney{
        margin-left: 20px;
    }
}
@media(max-width: 800px){
        .wax{
        width: 300px;
    }
    .bees{
    width: 300px;  
    }
    .matka{
    width: 300px;  
    }
}
.contact{
    background:#ffab00;
    width: 100%;
    height: 550px;
    margin-top: 100px;
}
.contact h1{
    color: white;
    font-size: 64px;
    text-align: center;
}


.adres {
    color: #191b1d;
    text-align: center;
        border: 2px solid white;
    background: white;
    border-radius: 25px;
    margin-top: 80px;
width: 300px;
  
}

.adres h4 {
    color: #38414b;
    font-size: 20px;
}

.adresa{
    margin-bottom: 30px;
}
.phone{
      margin-bottom: 30px;
}
.imglogca{
   display: flex;
    justify-content: flex-end;
}
.conez{
    background: #ff7000;
    width: 100%;
    height: 80px;
}

.conezhoney h4{
    margin-top:25px;
	font-family: Arial;
	font-size: 22px;
	color: #FFFF00;
	text-shadow: 
		-0   -1px 0   #000000,
		 0   -1px 0   #000000,
		-0    1px 0   #000000,
		 0    1px 0   #000000,
		-1px -0   0   #000000,
		 1px -0   0   #000000,
		-1px  0   0   #000000,
		 1px  0   0   #000000,
		-1px -1px 0   #000000,
		 1px -1px 0   #000000,
		-1px  1px 0   #000000,
		 1px  1px 0   #000000,
		-1px -1px 0   #000000,
		 1px -1px 0   #000000,
		-1px  1px 0   #000000,
		 1px  1px 0   #000000;
}
.conezhoney h4 {
    font-family: 'Shadows Into Light', cursive;
   
    
}

.konezpochata h5 {
    margin-top: 3px;
    color:white;
}
@media(max-width:450px){
    .conezhoney h4{
        font-size: 18px;
    }
 
    .konezpochata h5 {
        font-size: 14px;
           margin-top: 15px;
    }
    
}
.icon{
    margin-top: 20px;
    
    
}















